#user-profile {
  .profile-img-container {
    position: absolute;
    bottom: -3rem;
    left: 10%;
    width: 50%;

    img {
      border: 0.2rem solid $white;
      height: 105px;
      width: 105px;
    }
  }
  #profile-info {
    // scss for icon-more-icon
    padding-top: 50px;
    .suggested-block {
      .user-page-info {
        p {
          margin-bottom: 0;
          font-weight: 500;
        }
      }
      svg {
        cursor: pointer;
      }
    }
  }
  .relative {
    position: relative;
  }
}

.avatar {
  white-space: nowrap;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.75rem;
  text-align: center;
  vertical-align: middle;
  margin: 5px;

  // avatar img
  img {
    border-radius: 50%;
  }
}
